[submodule "auth"]
	path = auth
	url = https://github.com/Ayur-service/auth
[submodule "hospital"]
	path = hospital
	url = ./hospital
[submodule "user"]
	path = user
	url = ./user
[submodule "checkups"]
	path = checkups
	url = ./checkups
